main {
  #hero {
    nav {
      padding: 1.5rem 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-nav {
        .logo {
          width: 80%;
          cursor: pointer;
          img {
            width: 100%;
          }
        }
        .nav-links {
          display: none;
        }
      }
      .right-nav {
        display: none;
      }
    }
    @media (min-width: 1440px) {
      nav {
        .left-nav {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .logo {
            width: 80%;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
          .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            .list {
              position: relative;
              margin-left: 2rem;

              .list-content {
                display: none;
                position: absolute;
                top: 110%;
                left: 20%;
                background-color: #f9f9f9;
                min-width: 140px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                P {
                  float: none;
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                  text-align: left;
                  &:hover {
                    background-color: #ddd;
                  }
                }
                &:hover {
                  background-color: $White;
                }
              }
              a {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                text-decoration: none;
                &:hover {
                  background-color: $White;
                }
              }
              .select:hover .list-content {
                display: block;
              }
            }
          }
        }
        .humburger {
          display: none;
        }
        .right-nav {
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            text-decoration: none;
          }
        }
      }
    }
  }
}
