main {
  #hero {
    padding: 2rem 1rem;
    background-image: url(/images/bg/mob-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Very-light-red;
    height: 80vh;
    margin-bottom: -10px;
    .content-box {
      text-align: center;
      margin: 5rem auto;
      padding: 0 1.7rem;
      color: $White;
      font-family: $f-Overpass;
      h1 {
        font-size: 2rem;
        font-weight: 600;
      }
      p {
        font-size: 1.31rem;
      }
      .btn-box {
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
    @media (min-width: 1440px) {
      padding: 2rem 4rem;
      background-image: url(/images/bg/desktop-intro.png);
      background-position: bottom;
      height: 50vh;
      width: 91.5%;
      .content-box {
        h1 {
          font-size: 3rem;
          font-weight: 600;
        }
        p {
          font-size: 1.4rem;
        }
        .btn-box {
          width: 25%;
          justify-content: space-around;
          align-items: center;
          margin: auto;
        }
      }
    }
  }
  @media (min-width: 1440px) {
    .container {
      flex-direction: row;
    }
  }
}
