main {
  #state {
    background-image: url(/images/bg/mob-state.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    .content-box {
      position: absolute;
      top: 50%;
      color: $White;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      p {
        line-height: 1.8rem;
        width: 80%;
        margin: auto;
      }
    }
    @media (min-width: 1440px) {
      background-image: url(/images/bg/desjtop-state.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 70vh;
      .content-box {
        top: 35%;
        right: 0%;
        left: 50%;
        text-align: left;
        p {
          margin: 0;
        }
      }
    }
  }
}
