@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

$f-Overpass: "Overpass", sans-serif; // Weights: 300, 600
$f-Ubuntu: "Ubuntu", sans-serif; //Weights: 400, 500, 700

$f-size: 16px;

// ## Colors

// ### Primary

$Light-red: hsl(356, 100%, 66%); //(CTA text)
$Very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$Very-dark-blue: #1f3f5b; //(headings)

// ### Neutral

$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); //(footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

// ### Gradient

// Background gradient $Intro/CTA mobile nav:

$Very-light-red: #ff8f70;
$Light-red: #ff3d54;

// Background gradient $body:

$Very-dark-gray-blue: #2c2d3f;
$Very-dark-desaturated-blue: #3f4164;
